<!DOCTYPE html>
<html ng-app="AngularBoilerplate">
  <head>
    <meta charset="UTF-8">
    <title>Angular Boilerplate</title>
    <script src="../javascripts/vendor/jquery-1.11.3.js"></script>
    <script src="../javascripts/vendor/angular.js"></script>
    <script src="../javascripts/vendor/angular-route.js"></script>
    <script src="../javascripts/vendor/angular-resource.js"></script>
    <script src="../javascripts/vendor/bootstrap.min.js"></script>
    <script src="../javascripts/app.js"></script>
    <script src="../javascripts/application_ctrl.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
  </head>
  <body ng-controller="ApplicationCtrl">
    {{helloWorld}}
  </body>
</html>
